In [1]:
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
dataset=pd.read_csv('logistic.csv')

dataset

    Marks  Pass
0      40   1.0
1      22   0.0
2      39   0.0
3      45   1.0
4      50   1.0
5      20   0.0
6      25   0.0
7      30   0.0
8      60   1.0
9      10   NaN
10     15   0.0
11     65   1.0
12     70   1.0
13     49   1.0
14     33   0.0
15      9   0.0
16     84   1.0
17     41   1.0
18     13   0.0

In [3]:
dataset.isnull().any()

Marks    False
Pass      True
dtype: bool

In [4]:
dataset.isnull().sum()

Marks    0
Pass     1
dtype: int64

In [6]:
dataset=pd.read_csv('logistic.csv')
fillup=dataset['Pass'].median()

fillup

0.5

In [7]:
dataset.Pass = dataset.Pass.fillna(fillup)
dataset

    Marks  Pass
0      40   1.0
1      22   0.0
2      39   0.0
3      45   1.0
4      50   1.0
5      20   0.0
6      25   0.0
7      30   0.0
8      60   1.0
9      10   0.5
10     15   0.0
11     65   1.0
12     70   1.0
13     49   1.0
14     33   0.0
15      9   0.0
16     84   1.0
17     41   1.0
18     13   0.0

In [8]:
dataset['Pass'].value_counts()

1.0    9
0.0    9
0.5    1
Name: Pass, dtype: int64

In [9]:
x=dataset[['Marks']]

y=dataset['Pass']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
xtrain, xtest, ytrain,ytest=train_test_split(x,y,test_size=.30,random_state=1)

In [12]:
xtest

    Marks
3      45
15      9
6      25
10     15
2      39
14     33

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
reg = LogisticRegression()

In [16]:
reg.fit(xtrain,ytrain)

ValueError: Unknown label type: 'continuous'

In [ ]:
reg.predict(xtest)
reg.score(xtest,ytest)

ytest